In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
commercial = pd.read_csv('Commercial2.csv')
commercial.head()

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SATLANTIS,US/Spain,SATLANTIS,NaN,NaN,EO,NaN,0.5m<=x<=1m,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zhuhai,China,"Zhuhai-1 (OIS, OVS)",NaN,NaN,EO,NaN,0.5m<=x<=1m,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canon,Japan,CE-SAT,NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Theia,US,THEIA Satellite Network (TSN),NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = (commercial["Sensor Moda"] == "EO") & (commercial["Company"] == "LatConnect")
commercial[data]

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Create list of Companies
c_array = np.unique(commercial["Company"].to_numpy()) 
h_array = np.unique(commercial["HQ Location"].to_numpy())
commercial['ID'] = commercial['ID'].astype('Int64')


#Create unique list of Sensor Moda without &

def myFunc(string):
    if "&" in string:
        return False
    else:
        return True
s_array = np.unique(commercial["Sensor Moda"].to_numpy())
s_array_f = list(filter(myFunc, s_array))
s_array_f

['EO', 'HSI', 'RF', 'SAR', 'SSA']

In [5]:
import tkinter

window=tkinter.Tk()

window.title('GUI Program')

window.geometry('500x200')

 

#Creating a dropdown list of the companies

 

company_label=tkinter.Label(window, text='Company Name:')

company_label.place(relx=.03, rely=.02)

 

company_options=c_array

 

company_inside=tkinter.StringVar(window)

company_inside.set('Select Company Name')

 

 

company_dropdown_list=tkinter.OptionMenu(window, company_inside, *company_options)

company_dropdown_list.place(relx=.03, rely=.05)


def return_Company():

    return str(company_inside.get()) 


def print_Company():

    print('Company Selected: {}'.format(company_inside.get()))

    return str(company_inside.get())

 

 

 

 

#Operational Status radio buttons

 

hq_label=tkinter.Label(window, text='HQ Location:')

hq_label.place(relx=.15, rely=.02)

 

hq_options=h_array

 

hq_inside=tkinter.StringVar(window)

hq_inside.set('Select HQ Location')

 

 

hq_dropdown_list=tkinter.OptionMenu(window, hq_inside, *hq_options)
hq_dropdown_list.place(relx=.15, rely=.05)

 

def return_hq():
    return str(hq_inside.get())
 

def print_hq():

    print('Location Selected: {}'.format(hq_inside.get()))

    


 

 

#Manual Entry Search by Satellite Name

name_label=tkinter.Label(window, text='Satellite Name:')

name_label.pack()

 

def print_name():

    print('Satellite Name is: ' + name_entry.get())

   

name_entry=tkinter.Entry(window)

name_entry.pack()

 

#Manual Entry Search by ID Number

ID_label=tkinter.Label(window, text='ID Number:')

ID_label.pack()

 

def print_ID():

    print('ID Number is: '+ID_entry.get())

   

ID_entry=tkinter.Entry(window)

ID_entry.pack()

 

#Check buttons in Python Satellite Constellation type

satellite_type_label=tkinter.Label(window, text='Satellite Type:')

satellite_type_label.place(relx=0.7, rely=0.02)


#Create buttons using for loop
#Proxy list to access tkinker.StringVar().get later on
count = 0
proxy = []
for var in s_array_f:
    satellite_type = tkinter.StringVar()
    proxy.append(satellite_type)
    button=tkinter.Checkbutton(window, text=var, variable=satellite_type, onvalue=var, offvalue='')
    button.place(relx=0.7, rely=0.04 + count * 0.02)
    count += 1


#Print out satellite types that are not None
def print_Sensor_Moda():
    proxy_2 = []
    for x in proxy:
        if x.get():
            print('Type Selected: {}'.format(x.get()))
            proxy_2.append(x.get())
    return " & ".join(proxy_2)

def return_Sensor_Moda():
    proxy_2 = []
    for x in proxy:
        if x.get():
            proxy_2.append(x.get())
    return " & ".join(proxy_2)
 


                             

#Submit Button

submit_button=tkinter.Button(window, text='Submit', command=lambda:[print_Company(),print_hq(),print_name(), print_ID(), print_Sensor_Moda()])

submit_button.place(relx=.03, rely=.35)




#Main loop

window.mainloop()


def filterData():
    col = ["Company", "HQ Location", "Sensor Moda"]
    fields = dict.fromkeys(col,0)
    fields_1 = {"Company": "return_Company()" , "HQ Location": "return_hq()", "Sensor Moda": "return_Sensor_Moda()"}
    def update (fields):
        if (len(return_Sensor_Moda()) != 0):
            fields["Sensor Moda"] = 1
        if return_Company() != "Select Company Name":
            fields["Company"] = 1
        if return_hq() != "Select HQ Location":
            fields["HQ Location"] = 1
    update(fields)


    initial_filter = True
    for key in fields.keys():
        if fields.get(key) == 1:
            filtered = initial_filter & (commercial[key] == eval(fields_1.get(key)))
            initial_filter = filtered
    IdSatName = commercial[initial_filter][["ID","Sat Name"]]
    return IdSatName



#New Window for Output

from tkinter import *
ws = Tk()
ws.title('NORAD ID and Sat Name of Queried Satellites')
ws.geometry('400x300')
ws.config(bg='#84BF04')



text_box = Text(
    ws,
    height=12,
    width=40
)
text_box.pack(expand=True)
text_box.insert('end', filterData())
text_box.config(state='disabled')

ws.mainloop()




from glob import glob
import tkinter as tk
import os
 
root = tk.Tk()
lb = tk.Listbox(root)
lb.pack()
fl = glob(r"C:\Users\S33088\OneDrive - Noblis\Documents\STK 12\STK_Movies_VDFs\*.mp4")
#"C:\Users\S33088\OneDrive - Noblis\Documents\STK 12\STK_Movies_VDFs\First Movie.mp4"
for f in fl:
    lb.insert(0,f)
 
def fname():
    return lb.get(lb.curselection())
 
def play():
    os.startfile(fname())
 
lb.bind("<Double-Button>", lambda x: play())
 
la = tk.Label(root, text = "Select a file")
la.pack()
 
def see_properties():
    size = os.path.getsize(fname()) // 1000000
    la['text'] = size
 
lb.bind("<<ListboxSelect>>", lambda x: see_properties())
 
 
 
root.mainloop()

        
 
# print(commercial[initial_filter].iloc[:,:5])
# print(commercial[initial_filter][["ID","Sat Name"]])

Company Selected: Planet
Location Selected: Select HQ Location
Satellite Name is:
ID Number is:

In [6]:
#Code that filters data

#Create dictionary that lists which fields are selected
col = ["Company", "HQ Location", "Sensor Moda"]
fields = dict.fromkeys(col,0)
fields_1 = {"Company": "return_Company()" , "HQ Location": "return_hq()", "Sensor Moda": "return_Sensor_Moda()"}
def update (fields):
    if (len(return_Sensor_Moda()) != 0):
        fields["Sensor Moda"] = 1
    if return_Company() != "Select Company Name":
        fields["Company"] = 1
    if return_hq() != "Select HQ Location":
        fields["HQ Location"] = 1
update(fields)


initial_filter = True
for key in fields.keys():
    if fields.get(key) == 1:
        filtered = initial_filter & (commercial[key] == eval(fields_1.get(key)))
        initial_filter = filtered
        
print(commercial[initial_filter].iloc[:,:6])
print(commercial[initial_filter][["ID","Sat Name"]])

    Company HQ Location       Constellation     Sat Name     ID Sensor Moda
81   Planet          US  Dove (Planetscope)          NaN   <NA>          EO
82   Planet          US  Dove (Planetscope)   FLOCK 1C 1  40027          EO
83   Planet          US  Dove (Planetscope)  FLOCK 1C 10  40023          EO
84   Planet          US  Dove (Planetscope)  FLOCK 1C 11  40033          EO
85   Planet          US  Dove (Planetscope)   FLOCK 1C 2  40029          EO
..      ...         ...                 ...          ...    ...         ...
516  Planet          US              SkySat    SkySat-17  45790          EO
517  Planet          US              SkySat    SkySat-18  45789          EO
518  Planet          US              SkySat    SkySat-19  46179          EO
519  Planet          US              SkySat    SkySat-20  46180          EO
520  Planet          US              SkySat    SkySat-21  46235          EO

[297 rows x 6 columns]
        ID     Sat Name
81    <NA>          NaN
82   40027   FLOCK 1C 1
83   40023  FLOCK 1C 10
84   40033  FLOCK 1C 11
85   40029   FLOCK 1C 2
..     ...          ...
516  45790    SkySat-17
517  45789    SkySat-18
518  46179    SkySat-19
519  46180    SkySat-20
520  46235    SkySat-21

[297 rows x 2 columns]