In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
commercial = pd.read_csv('Commercial1.copy.csv')
commercial.head()

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SATLANTIS,US/Spain,SATLANTIS,NaN,NaN,EO,NaN,0.5m<=x<=1m,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zhuhai,China,"Zhuhai-1 (OIS, OVS)",NaN,NaN,EO,NaN,0.5m<=x<=1m,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canon,Japan,CE-SAT,NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Theia,US,THEIA Satellite Network (TSN),NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = (commercial["Sensor Moda"] == "EO") & (commercial["Company"] == "LatConnect")
commercial[data]

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Create list of Companies
c_array = np.unique(commercial["Company"].to_numpy()) 
h_array = np.unique(commercial["HQ Location"].to_numpy())
commercial['ID'] = commercial['ID'].astype('Int64')


#Create unique list of Sensor Moda without &

def myFunc(string):
    if "&" in string:
        return False
    else:
        return True
s_array = np.unique(commercial["Sensor Moda"].to_numpy())
s_array_f = list(filter(myFunc, s_array))
s_array_f

['EO', 'HSI', 'RF', 'SAR', 'SSA']

In [14]:
import tkinter

window=tkinter.Tk()

window.title('GUI Program')

window.geometry('500x200')

 

#Creating a dropdown list of the companies

 

company_label=tkinter.Label(window, text='Company Name:')

company_label.place(relx=.03, rely=.02)

 

company_options=c_array

 

company_inside=tkinter.StringVar(window)

company_inside.set('Select Company Name')

 

 

company_dropdown_list=tkinter.OptionMenu(window, company_inside, *company_options)

company_dropdown_list.place(relx=.03, rely=.05)

 

def print_Company():

    print('Company Selected: {}'.format(company_inside.get()))

    return str(company_inside.get())

 

 

 

 

#Operational Status radio buttons

 

hq_label=tkinter.Label(window, text='HQ Location:')

hq_label.place(relx=.15, rely=.02)

 

hq_options=h_array

 

hq_inside=tkinter.StringVar(window)

hq_inside.set('Select HQ Location')

 

 

hq_dropdown_list=tkinter.OptionMenu(window, hq_inside, *hq_options)
hq_dropdown_list.place(relx=.15, rely=.05)

 


 

def print_hq():

    print('Location Selected: {}'.format(hq_inside.get()))

    return str(hq_inside.get())

 

 

#Manual Entry Search by Satellite Name

name_label=tkinter.Label(window, text='Satellite Name:')

name_label.pack()

 

def print_name():

    print('Satellite Name is: ' + name_entry.get())

   

name_entry=tkinter.Entry(window)

name_entry.pack()

 

#Manual Entry Search by ID Number

ID_label=tkinter.Label(window, text='ID Number:')

ID_label.pack()

 

def print_ID():

    print('ID Number is: '+ID_entry.get())

   

ID_entry=tkinter.Entry(window)

ID_entry.pack()

 

#Check buttons in Python Satellite Constellation type

satellite_type_label=tkinter.Label(window, text='Satellite Type:')

satellite_type_label.place(relx=0.7, rely=0.02)


#Create buttons using for loop
#Proxy list to access tkinker.StringVar().get later on
count = 0
proxy = []
for var in s_array_f:
    satellite_type = tkinter.StringVar()
    proxy.append(satellite_type)
    button=tkinter.Checkbutton(window, text=var, variable=satellite_type, onvalue=var, offvalue='')
    button.place(relx=0.7, rely=0.04 + count * 0.02)
    count += 1


#Print out satellite types that are not None
def print_Sensor_Moda():
    proxy_2 = []
    for x in proxy:
        if x.get():
            print('Type Selected: {}'.format(x.get()))
            proxy_2.append(x.get())
    return " & ".join(proxy_2)
 



                             

#Submit Button

submit_button=tkinter.Button(window, text='Submit', command=lambda:[print_Company(),print_hq(),print_name(), print_ID(), print_Sensor_Moda()])

submit_button.place(relx=.03, rely=.35)

 

 

#Main loop

window.mainloop()

Company Selected: Iceye
Location Selected: Select HQ Location
Satellite Name is:
ID Number is:

In [25]:
col = ["Company", "HQ Location", "Sensor Moda"]
fields = dict.fromkeys(col,0)
fields_1 = {"Company": "print_Company()" , "HQ Location": "print_hq()", "Sensor Moda": "print_Sensor_Moda()"}
def update (fields):
    if (len(print_Sensor_Moda()) != 0):
        fields["Sensor Moda"] = 1
    if print_Company() != "Select Company Name":
        fields["Company"] = 1
    if print_hq() != "Select HQ Location":
        fields["HQ Location"] = 1
update(fields)
# print(fields)


initial_filter = True
for key in fields.keys():
    if fields.get(key) == 1:
        filtered = initial_filter & (commercial[key] == eval(fields_1.get(key)))
        initial_filter = filtered
        

print(commercial[initial_filter])
print(commercial[initial_filter][["ID","Sat Name"]])

Company Selected: Iceye
Location Selected: Select HQ Location
Company Selected: Iceye
    Company HQ Location Constellation   Sat Name     ID Sensor Moda  \
135   Iceye     Finland         Iceye   Iceye-X1  43114         SAR
136   Iceye     Finland         Iceye  Iceye-X11  48918         SAR
137   Iceye     Finland         Iceye  Iceye-X12  48914         SAR
138   Iceye     Finland         Iceye  Iceye-X13  48916         SAR
139   Iceye     Finland         Iceye  Iceye-X14  51070         SAR
140   Iceye     Finland         Iceye  Iceye-X16  51008         SAR
141   Iceye     Finland         Iceye   Iceye-X2  43800         SAR
142   Iceye     Finland         Iceye   Iceye-X3  44229         SAR
143   Iceye     Finland         Iceye   Iceye-X4  44390         SAR
144   Iceye     Finland         Iceye   Iceye-X5  44389         SAR
145   Iceye     Finland         Iceye   Iceye-X6  46497         SAR
146   Iceye     Finland         Iceye   Iceye-X7  46496         SAR
147   Iceye     Finland         Iceye   Iceye-X8  47510         SAR
148   Iceye     Finland         Iceye   Iceye-X9  47506         SAR
149   Iceye     Finland         Iceye  Iceye-X15  48917         SAR
150   Iceye     Finland         Iceye  Iceye-X17  52762         SAR
151   Iceye     Finland         Iceye  Iceye-X14  51070         SAR
152   Iceye     Finland         Iceye  Iceye-X16  51008         SAR
153   Iceye     Finland         Iceye  Iceye-X18  52749         SAR
154   Iceye     Finland         Iceye  Iceye-X24  52755         SAR

                              Update Pan VNIR 400-1K nm Unnamed: 9  ...  \
135  +4, Transitioned to Established   0              0          0  ...
136  +4, Transitioned to Established   0              0          0  ...
137  +4, Transitioned to Established   0              0          0  ...
138  +4, Transitioned to Established   0              0          0  ...
139  +4, Transitioned to Established   0              0          0  ...
140  +4, Transitioned to Established   0              0          0  ...
141  +4, Transitioned to Established   0              0          0  ...
142  +4, Transitioned to Established   0              0          0  ...
143  +4, Transitioned to Established   0              0          0  ...
144  +4, Transitioned to Established   0              0          0  ...
145  +4, Transitioned to Established   0              0          0  ...
146  +4, Transitioned to Established   0              0          0  ...
147  +4, Transitioned to Established   0              0          0  ...
148  +4, Transitioned to Established   0              0          0  ...
149  +4, Transitioned to Established   0              0          0  ...
150  +4, Transitioned to Established   0              0          0  ...
151  +4, Transitioned to Established   0              0          0  ...
152  +4, Transitioned to Established   0              0          0  ...
153  +4, Transitioned to Established   0              0          0  ...
154  +4, Transitioned to Established   0              0          0  ...

    Spectral Range (nm) VNIR.1 Unnamed: 32 Unnamed: 33  Unnamed: 34  \
135                        NaN         NaN         NaN          NaN
136                        NaN         NaN         NaN          NaN
137                        NaN         NaN         NaN          NaN
138                        NaN         NaN         NaN          NaN
139                        NaN         NaN         NaN          NaN
140                        NaN         NaN         NaN          NaN
141                        NaN         NaN         NaN          NaN
142                        NaN         NaN         NaN          NaN
143                        NaN         NaN         NaN          NaN
144                        NaN         NaN         NaN          NaN
145                        NaN         NaN         NaN          NaN
146                        NaN         NaN         NaN          NaN
147                        NaN         NaN         NaN          NaN
148                        NaN         NaN         NaN          NaN
149                        NaN         NaN         NaN          NaN
150                        NaN         NaN         NaN          NaN
151                        NaN         NaN         NaN          NaN
152                        NaN         NaN         NaN          NaN
153                        NaN         NaN         NaN          NaN
154                        NaN         NaN         NaN          NaN

    Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39 Unnamed: 40
135         NaN         NaN         NaN         NaN         NaN         NaN
136         NaN         NaN         NaN         NaN         NaN         NaN
137         NaN         NaN         NaN         NaN         NaN         NaN
138         NaN         NaN         NaN         NaN         NaN         NaN
139         NaN         NaN         NaN         NaN         NaN         NaN
140         NaN         NaN         NaN         NaN         NaN         NaN
141         NaN         NaN         NaN         NaN         NaN         NaN
142         NaN         NaN         NaN         NaN         NaN         NaN
143         NaN         NaN         NaN         NaN         NaN         NaN
144         NaN         NaN         NaN         NaN         NaN         NaN
145         NaN         NaN         NaN         NaN         NaN         NaN
146         NaN         NaN         NaN         NaN         NaN         NaN
147         NaN         NaN         NaN         NaN         NaN         NaN
148         NaN         NaN         NaN         NaN         NaN         NaN
149         NaN         NaN         NaN         NaN         NaN         NaN
150         NaN         NaN         NaN         NaN         NaN         NaN
151         NaN         NaN         NaN         NaN         NaN         NaN
152         NaN         NaN         NaN         NaN         NaN         NaN
153         NaN         NaN         NaN         NaN         NaN         NaN
154         NaN         NaN         NaN         NaN         NaN         NaN

[20 rows x 41 columns]
        ID   Sat Name
135  43114   Iceye-X1
136  48918  Iceye-X11
137  48914  Iceye-X12
138  48916  Iceye-X13
139  51070  Iceye-X14
140  51008  Iceye-X16
141  43800   Iceye-X2
142  44229   Iceye-X3
143  44390   Iceye-X4
144  44389   Iceye-X5
145  46497   Iceye-X6
146  46496   Iceye-X7
147  47510   Iceye-X8
148  47506   Iceye-X9
149  48917  Iceye-X15
150  52762  Iceye-X17
151  51070  Iceye-X14
152  51008  Iceye-X16
153  52749  Iceye-X18
154  52755  Iceye-X24