In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
commercial = pd.read_csv('Commercial1.copy.csv')
commercial.head()

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SATLANTIS,US/Spain,SATLANTIS,NaN,NaN,EO,NaN,0.5m<=x<=1m,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Zhuhai,China,"Zhuhai-1 (OIS, OVS)",NaN,NaN,EO,NaN,0.5m<=x<=1m,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canon,Japan,CE-SAT,NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Theia,US,THEIA Satellite Network (TSN),NaN,NaN,EO,NaN,NaN,0.5m<=x<=1m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = (commercial["Sensor Moda"] == "EO") & (commercial["Company"] == "LatConnect")
commercial[data]

,Company,HQ Location,Constellation,Sat Name,ID,Sensor Moda,Update,Pan,VNIR 400-1K nm,Unnamed: 9,...,Spectral Range (nm) VNIR.1,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,LatConnect,Australia,LatConnect60,NaN,NaN,EO,NaN,0.5m<=x<=1m,1m<x<=5m,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Create list of Companies
c_array = np.unique(commercial["Company"].to_numpy()) 
h_array = np.unique(commercial["HQ Location"].to_numpy())
commercial['ID'] = commercial['ID'].astype('Int64')


#Create unique list of Sensor Moda without &

def myFunc(string):
    if "&" in string:
        return False
    else:
        return True
s_array = np.unique(commercial["Sensor Moda"].to_numpy())
s_array_f = list(filter(myFunc, s_array))
s_array_f

['EO', 'HSI', 'RF', 'SAR', 'SSA']

In [5]:
import tkinter

window=tkinter.Tk()

window.title('GUI Program')

window.geometry('500x200')

 

#Creating a dropdown list of the companies

 

company_label=tkinter.Label(window, text='Company Name:')

company_label.place(relx=.03, rely=.02)

 

company_options=c_array

 

company_inside=tkinter.StringVar(window)

company_inside.set('Select Company Name')

 

 

company_dropdown_list=tkinter.OptionMenu(window, company_inside, *company_options)

company_dropdown_list.place(relx=.03, rely=.05)

 

def print_Company():

    print('Company Selected: {}'.format(company_inside.get()))

    return str(company_inside.get())

 

 

 

 

#Operational Status radio buttons

 

hq_label=tkinter.Label(window, text='HQ Location:')

hq_label.place(relx=.15, rely=.02)

 

hq_options=h_array

 

hq_inside=tkinter.StringVar(window)

hq_inside.set('Select HQ Location')

 

 

hq_dropdown_list=tkinter.OptionMenu(window, hq_inside, *hq_options)
hq_dropdown_list.place(relx=.15, rely=.05)

 


 

def print_hq():

    print('Location Selected: {}'.format(hq_inside.get()))

    return str(hq_inside.get())

 

 

#Manual Entry Search by Satellite Name

name_label=tkinter.Label(window, text='Satellite Name:')

name_label.pack()

 

def print_name():

    print('Satellite Name is: ' + name_entry.get())

   

name_entry=tkinter.Entry(window)

name_entry.pack()

 

#Manual Entry Search by ID Number

ID_label=tkinter.Label(window, text='ID Number:')

ID_label.pack()

 

def print_ID():

    print('ID Number is: '+ID_entry.get())

   

ID_entry=tkinter.Entry(window)

ID_entry.pack()

 

#Check buttons in Python Satellite Constellation type

satellite_type_label=tkinter.Label(window, text='Satellite Type:')

satellite_type_label.place(relx=0.7, rely=0.02)


#Create buttons using for loop
#Proxy list to access tkinker.StringVar().get later on
count = 0
proxy = []
for var in s_array_f:
    satellite_type = tkinter.StringVar()
    proxy.append(satellite_type)
    button=tkinter.Checkbutton(window, text=var, variable=satellite_type, onvalue=var, offvalue='')
    button.place(relx=0.7, rely=0.04 + count * 0.02)
    count += 1


#Print out satellite types that are not None
def print_Sensor_Moda():
    proxy_2 = []
    for x in proxy:
        if x.get():
            print('Type Selected: {}'.format(x.get()))           
    return " & ".join(proxy_2)
 



                             

#Submit Button

submit_button=tkinter.Button(window, text='Submit', command=lambda:[print_Company(),printhq(),print_Name(), print_ID(), print_Sensor_Moda()])

submit_button.place(relx=.03, rely=.35)

 

 

#Main loop

window.mainloop()

Company Selected: Hawkeye 360
Location Selected: Select HQ Location
Satellite Name is:
ID Number is:

In [6]:
col = ["Company", "HQ Location", "Sensor Moda"]
fields = dict.fromkeys(col,0)
fields_1 = {"Company": "print_company()" , "HQ Location": "print_Hq()", "Sensor Moda": "print_SensorType()"}
def update (fields):
    if (len(print_Sensor_Moda()) != 0):
        fields["Sensor Moda"] = 1
    if print_Company() != "Select Company Name":
        fields["Company"] = 1
    if print_hq() != "Select HQ Location":
        fields["HQ Location"] = 1
update(fields)
# print(fields)

Company Selected: Hawkeye 360
Location Selected: Select HQ Location
Company Selected: Hawkeye 360
         Company HQ Location Constellation             Sat Name     ID  \
158  Hawkeye 360          US       Hawkeye              Hawk-2A  47505
159  Hawkeye 360          US       Hawkeye              Hawk-2B  47508
160  Hawkeye 360          US       Hawkeye              Hawk-2C  47502
161  Hawkeye 360          US       Hawkeye              Hawk-3A  48957
162  Hawkeye 360          US       Hawkeye              Hawk-3B  48931
163  Hawkeye 360          US       Hawkeye              Hawk-3C  48948
164  Hawkeye 360          US       Hawkeye              Hawk-4A  52167
165  Hawkeye 360          US       Hawkeye              Hawk-4B  52165
166  Hawkeye 360          US       Hawkeye              Hawk-4C  52170
167  Hawkeye 360          US       Hawkeye               Hawk-A  43765
168  Hawkeye 360          US       Hawkeye               Hawk-B  43794
169  Hawkeye 360          US       Hawkeye               Hawk-C  43799
170  Hawkeye 360          US       Hawkeye            Seahawk-1  43820
171  Hawkeye 360          US       Hawkeye              Hawkeye   7325
172  Hawkeye 360          US       Hawkeye              Hawk-5A  52757
173  Hawkeye 360          US       Hawkeye              Hawk-5B  52756
174  Hawkeye 360          US       Hawkeye              Hawk-5C  52754
175  Hawkeye 360          US       Hawkeye              HawkSat  35004
204  Hawkeye 360          US    Pathfinder        M2 Pathfinder  45727
205  Hawkeye 360          US    Pathfinder         Pathfinder 1  41787
206  Hawkeye 360          US    Pathfinder              Calipso  29108
207  Hawkeye 360          US    Pathfinder    Altair Pathfinder  42711
208  Hawkeye 360          US    Pathfinder  Sirion Pathfinder-2  43759
209  Hawkeye 360          US    Pathfinder   Tropics Pathfinder  48901

    Sensor Moda                   Update Pan VNIR 400-1K nm Unnamed: 9  ...  \
158          RF                        3   0              0          0  ...
159          RF                        3   0              0          0  ...
160          RF                        3   0              0          0  ...
161          RF                        3   0              0          0  ...
162          RF                        3   0              0          0  ...
163          RF                        3   0              0          0  ...
164          RF                        3   0              0          0  ...
165          RF                        3   0              0          0  ...
166          RF                        3   0              0          0  ...
167          RF                        3   0              0          0  ...
168          RF                        3   0              0          0  ...
169          RF                        3   0              0          0  ...
170          RF                        3   0              0          0  ...
171          RF                        3   0              0          0  ...
172          RF                        3   0              0          0  ...
173          RF                        3   0              0          0  ...
174          RF                        3   0              0          0  ...
175          RF                        3   0              0          0  ...
204          RF  Operating Status Change   0              0          0  ...
205          RF  Operating Status Change   0              0          0  ...
206          RF  Operating Status Change   0              0          0  ...
207          RF  Operating Status Change   0              0          0  ...
208          RF  Operating Status Change   0              0          0  ...
209          RF  Operating Status Change   0              0          0  ...

    Spectral Range (nm) VNIR.1 Unnamed: 32 Unnamed: 33  Unnamed: 34  \
158                        NaN         NaN         NaN          NaN
159                        NaN         NaN         NaN          NaN
160                        NaN         NaN         NaN          NaN
161                        NaN         NaN         NaN          NaN
162                        NaN         NaN         NaN          NaN
163                        NaN         NaN         NaN          NaN
164                        NaN         NaN         NaN          NaN
165                        NaN         NaN         NaN          NaN
166                        NaN         NaN         NaN          NaN
167                        NaN         NaN         NaN          NaN
168                        NaN         NaN         NaN          NaN
169                        NaN         NaN         NaN          NaN
170                        NaN         NaN         NaN          NaN
171                        NaN         NaN         NaN          NaN
172                        NaN         NaN         NaN          NaN
173                        NaN         NaN         NaN          NaN
174                        NaN         NaN         NaN          NaN
175                        NaN         NaN         NaN          NaN
204                        NaN         NaN         NaN          NaN
205                        NaN         NaN         NaN          NaN
206                        NaN         NaN         NaN          NaN
207                        NaN         NaN         NaN          NaN
208                        NaN         NaN         NaN          NaN
209                        NaN         NaN         NaN          NaN

    Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39 Unnamed: 40
158          RF         NaN         NaN         NaN         NaN         NaN
159          RF         NaN         NaN         NaN         NaN         NaN
160          RF         NaN         NaN         NaN         NaN         NaN
161          RF         NaN         NaN         NaN         NaN         NaN
162          RF         NaN         NaN         NaN         NaN         NaN
163          RF         NaN         NaN         NaN         NaN         NaN
164          RF         NaN         NaN         NaN         NaN         NaN
165          RF         NaN         NaN         NaN         NaN         NaN
166          RF         NaN         NaN         NaN         NaN         NaN
167          RF         NaN         NaN         NaN         NaN         NaN
168          RF         NaN         NaN         NaN         NaN         NaN
169          RF         NaN         NaN         NaN         NaN         NaN
170          RF         NaN         NaN         NaN         NaN         NaN
171          RF         NaN         NaN         NaN         NaN         NaN
172          RF         NaN         NaN         NaN         NaN         NaN
173          RF         NaN         NaN         NaN         NaN         NaN
174          RF         NaN         NaN         NaN         NaN         NaN
175          RF         NaN         NaN         NaN         NaN         NaN
204         NaN         NaN         NaN         NaN         NaN         NaN
205         NaN         NaN         NaN         NaN         NaN         NaN
206         NaN         NaN         NaN         NaN         NaN         NaN
207         NaN         NaN         NaN         NaN         NaN         NaN
208         NaN         NaN         NaN         NaN         NaN         NaN
209         NaN         NaN         NaN         NaN         NaN         NaN

[24 rows x 41 columns]
        ID             Sat Name
158  47505              Hawk-2A
159  47508              Hawk-2B
160  47502              Hawk-2C
161  48957              Hawk-3A
162  48931              Hawk-3B
163  48948              Hawk-3C
164  52167              Hawk-4A
165  52165              Hawk-4B
166  52170              Hawk-4C
167  43765               Hawk-A
168  43794               Hawk-B
169  43799               Hawk-C
170  43820            Seahawk-1
171   7325              Hawkeye
172  52757              Hawk-5A
173  52756              Hawk-5B
174  52754              Hawk-5C
175  35004              HawkSat
204  45727        M2 Pathfinder
205  41787         Pathfinder 1
206  29108              Calipso
207  42711    Altair Pathfinder
208  43759  Sirion Pathfinder-2
209  48901   Tropics Pathfinder